.single-post-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    gap: 0px;
}

.single-post-container h5{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: rgb(252, 174, 57);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-content{
    padding: 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: bisque;
}
.post-img-cont{
    display: flex;
    justify-content: center;
}
.post-image{
    width: 600px;
    height: 400px;
}