.nav-container{
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.nav-logo{
    width: 160px;
    height: 100px;
}

.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nav-btn{
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 20px;
}

.nav-btn:hover{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.nav-btn >a{
    text-decoration: none;
    color: black;
}